<template name="layout">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class=" text-info fa fa-twitch"></i> <span class="text-info"> Let's Discuss</span> </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
              {{#if currentUser}}
                {{> loggedIn}}
              {{else}}
                {{> notLoggedIn}}
                {{/if}}
            </ul>
        </div>
    </div>
    <div>
        {{>yield}}
    </div>
</template>
<template name="notLoggedIn">
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>

</template>
<template name="loggedIn">

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.profile.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>

            <li class="divider"></li>
            <li><a href="#" id="logout">Logout</a></li>
        </ul>
    </li>
</template>